<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Shopify</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="d-flex justify-content-center position-fixed top-0 start-50 translate-middle-x mt-2">
      <div ng-repeat="alert in alerts | filter:{section:'1'}"
        class="alert alert-{{alert.type}} alert-dismissible fade show" role="alert">
        {{ alert.msg }}
        <button type="button" class="btn-close" aria-label="Close" ng-click="alert.close()"></button>
      </div>
    </div>

    <a class="navbar-brand logo-Img" href="#">
      <h2 style="color: rgb(8, 130, 89);">Shopify</h2>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav ms-auto">
        <ul class="navbar-nav ml-auto ">
          <li class="nav-item login-Btn">
            <a class="nav-link login-Btn" href="#" ng-click="showCreateSection($event)" style="color: rgb(8, 130, 89);">
              Create section
            </a>
          </li>
          <li class="nav-item login-Btn" ng-show="!userLoggedIn">
            <a class="nav-link login-Btn" href="#" ng-click="logout()">
              <i class="bi bi-box-arrow-right"></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div>
    <section class="vh-100" style="background-color: #eee">
      <div class="container h-100" style="padding-top: 100px;">
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item" ng-repeat="category in categories">
            <h2 class="accordion-header" id="flush-headingOne">
              <div class="row mt-5">
                <div class="col-10">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapse{{$index}}" aria-expanded="false" aria-controls="flush-collapse{{$index}}">
                    {{ category.category_name}}
                  </button>
                </div>

                <div class="col-2">
                  <div ng-if="!category.editMode">
                    <button class="btn btn-outline-secondary" type="button" ng-click="edit(category)">
                      <i class="bi bi-pencil-square"></i> Edit
                    </button>
                    <button class="btn btn-outline-secondary" type="button" ng-click="delete(category)">
                      <i class="bi bi-trash"></i> Del
                    </button>
                  </div>
                  <div ng-if="category.editMode">
                    <input type="text" ng-model="category.updateName" class="form-control">
                    <input type="file" ng-model="category.updateImage" class="custom-file-input" id="updatedImage" accept="image/*">
                    <button class="btn btn-primary" ng-click="saveEdit(category)">Save</button>
                    <button class="btn btn-secondary" ng-click="cancelEdit(category)">Cancel</button>
                  </div>
                </div>                

              </div>
            </h2>
            <div id="flush-collapse{{$index}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{$index}}"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="row flex-nowrap overflow-auto">
                  <div class="col-md-2">
                    <div class="card" style="width: 14rem">
                      <i class="bi bi-plus-circle" style="height: 200px;"></i>
                      <div class="card-body">
                        <a href="#" class="btn btn-primary mt-">Add Products</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="card" style="width: 14rem">
                      <img ng-src="https://10.21.83.174:8000/media/{{ category.category_image }}" alt="{{ category.category_name }}" width="200">
                      <div class="card-body">
                        <h5 class="card-title">Pineapple</h5>
                        <a href="#" class="btn btn-primary">Edit</a>
                        <a href="#" class="btn btn-primary">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.all.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.26/angular-ui-router.min.js"></script>
  <script src="../script.js"></script>
</body>

</html>